.picture {
    margin: 7% 0;
}

.aboutMe {
    background-color: rgba(0, 0, 0, 0.9); 
    display: flex;
    height: 100vh;
    overflow-y: hidden;
    align-items: center;
}

.left {
    width: 50%;
    display: flex;
    justify-content: center;
}

.right {
    width: 50%;
}

.right p {
    width: 60%;
    color: 'white';
    font-family: 'roboto Mono'; 
    font-size: '11pt';
}

.retPhoto {
    background-color: rgba(0, 0, 0, 0.9); 
    height: 85vh;
    display: flex;
    gap: 3%;
    align-items: center;
    justify-content: center;
    font-family: 'orbitron';
    color: white;
}

.pictures {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
}

.logoWhats {
    position: sticky;
    bottom: 4%;
    margin-left: 93%;
}

.picturesSty {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}

.rodape {
    position: relative;
    width: 100%;
    bottom: 0px;
    background-color: black; 
    height: 5vh;
}

.mainMenu {
    background-color: black;
    display: flex;
    justify-content: space-around;
    position: relative;
    top:0;
    width:100%;
}


@media screen and (max-width: 800px) {
    .aboutMe {
        display: flex;
        flex-direction: column;
        height: 200vh;
        justify-content: center;
    }

    .aboutMe p {
        width: 120%;
    }

    .retPhoto {
        display: flex;
        flex-direction: column;
        height: 200vh;
    }

    .pictures {
        display: flex;
        flex-direction: column;
    }

    .logoWhats {
        margin-left: 85%;
    }

    .picturesSty {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 500px) {
    .mainMenu {
        display: 1;
    } 

    .aboutMe {
    max-height: 130vh;
    }

    .aboutMe p {
        width: 100%;
    }

    .retPhoto {
        max-height: 130vh;
    }

    
}

@media screen and (max-width: 400px) {
    .aboutMe {
        max-height: 200vh;
    }

    .aboutMe img {
        margin-top: -100%;
    }

    .aboutMe p {
        margin-top: 30%;
    }

    .retPhoto {
        max-height: 160vh;
    }
}